$font1: 'Megrim', Helvetica;//'Megrim''Special Elite'
$font2: 'Dosis', sans-serif;
$font-size-pa: 20px;
$section-height: 400px;
$hoverColor: #f24372;
$navHeaderColor:#f4f2f3;
$mainPSize:25px;
$background:#fcfcfc;
