body{
  background-color: #ef2d3a;

}

.container{
  background-color: #ef5a2d;
  text-align: center;
  margin-top: 25%;
  margin-left: calc(50% - 175px);
  width:300px;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #000000;
}

button{
  height:150px;
  width:300px;
  background-color: white;
  color:black;
  border: 3px solid black;
  margin-left: calc(50% - 175px);
  border-radius: 20px;
  box-shadow: 10px 10px 5px #000000;
}

#play{
  font-size: 100px;
}
