body{
  background-image: url('images/library.gif');
  background-position: 50% 50%;
  -webkit-background-size:cover;
     -moz-background-size:cover;
       -o-background-size:cover;
          background-size:cover;
}

.content{
  background: #fffee8;
  width:30%;
  min-width: 320px;

  height: 400px;
  text-align: center;
  padding: 15px;
  margin-top: 39vh;
  margin-right: 70px;
  float: right;
  border: 3px solid black;
  border-radius: 5px;
  opacity: 0.87;
}
h2{
  font-family: 'Berkshire Swash', sans-serif;
}
form{
  margin-bottom: 0px;
}
